<div class="hero-dialog">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content>
    <mat-card>
      <mat-card-content class="hero-card-detail">
        <p class="label-text">Alias:</p>
        <p class="value-text">
          {{ data.hero.alias || "Undefined" }}
        </p>
        <div>
          <p class="label-text">Power level:</p>
          <mat-progress-bar
            mode="determinate"
            [value]="data.hero.powerLevel || 0"
          >
          </mat-progress-bar>
          <p class="value-text">
            {{ (data.hero.powerLevel ?? 0) / 100 | percent }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      matButton="filled"
      color="primary"
      (click)="closeDialog()"
      aria-label="Close modal"
    >
      Close
    </button>
  </mat-dialog-actions>
</div>
