<main>
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content>
    <p>Are you sure you want to delete this hero?</p>
    <mat-card>
      <mat-card-content>
        <div class="hero-info">
          <p><strong>Name:</strong> {{ data.hero.name }}</p>
          <p><strong>Alias:</strong> {{ data.hero.alias || "-" }}</p>
          <p><strong>Power Level:</strong> {{ data.hero.powerLevel }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button matButton="text" (click)="onCancel()" aria-label="Cancel">
      Cancel
    </button>
    <button mat-raised-button matButton="filled" (click)="onConfirm()">
      Delete
    </button>
  </mat-dialog-actions>
</main>
