@if (data.hero) {
  <app-dialog-container
    [title]="'Delete Hero:'"
    [hero]="data.hero"
    [showSubmitButton]="true"
    submitLabel="Delete"
    (submitDialog)="onConfirm()"
  >
    <div>
      <ul>
        <li><strong>Name:</strong> {{ data.hero.name | uppercase }}</li>
        <li><strong>Alias:</strong> {{ data.hero.alias }}</li>
        <li><strong>Power Level:</strong> {{ data.hero.powerLevel }}</li>
      </ul>

      <section>
        <p style="color: red">Are you sure you want to delete this hero?</p>
        <ul>
          <li>This action cannot be undone.</li>
          <li>The hero will be permanently removed from the list.</li>
        </ul>
      </section>
    </div>
  </app-dialog-container>
}
